body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

.h-screen-dynamic {
  height: calc(var(--vh, 1vh) * 100);
}

.login__logo {
  width: 120px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  
  &::-webkit-scrollbar {
    width: 8px;
    transition: opacity 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    opacity: 0;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar {
    opacity: 1;
  }
}
