body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

.h-screen-dynamic {
  height: calc(var(--vh, 1vh) * 100);
}

.login__logo {
  width: 173.76px;
}

@media (max-width: 1049px) {
  .login__logo {
    width: 120px;
  }
}

.user-details-page {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  
  &::-webkit-scrollbar {
    width: 8px;
    transition: opacity 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar {
    opacity: 0;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar {
    opacity: 1;
  }
}

.success-toast, .error-toast, .warning-toast, .default-toast {
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px var(--numberspacingsmall) 12px 0px #172B641A;
  display: flex;
  align-items: center;
}

.success-toast {
  background: #F8FCF9;
  border: 1px solid #B7E1C1;
  color: #358248;
}

.warning-toast {
  background-color: #FFFCF5;
  color: #B88100;
  border: 1px solid #FFE099;
}

.error-toast {
  background-color: #FEF6F7;
  color: #A1161E;
  border: 1px solid #F4AEB2;
}

.default-toast {
  background-color: #333;
  color: white;
}

