.page-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.main-content {
  width: 100%;
  height: 100%;
  padding: 1.5rem 3rem;
  background-color: #f5f5f5;
  overflow-y: auto;
}

@media (max-width: 1049px) {
  .main-content {
    padding: 1rem;
  }
}
